[run]
source = src
omit =
    */tests/*
    */venv/*
    */.venv/*
    */migrations/*
    */settings.py
    */conftest.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def __str__

[html]
directory = coverage_html_report